@import "reset.css";
@import url(https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600;700&display=swap);
body {
    font-family: 'Libre Franklin', sans-serif;
    margin: 0;
    padding: 0;
   
    }
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
    }
    * {
        box-sizing: border-box;
    
    }
    .container {
        width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
    .hero {
        
    }
    .hero-container {
       
        background-image: url(img/Background@2x.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        height: 768px;
        width: 1440px;        
        padding: 93px 166px 240px 165px;
        color: white;
        
    }
     
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        font-size: 24px;
        line-height: 1.21;
        font-weight: bold;
        color: white;
    }
    header a {
        font-size: 18px;
        line-height: 1.21;
        color: white;
    }
    header nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 60px;
        color: white;
    }
    header {
        margin-bottom: 145px;
    }
    .hero-content  h1 {
        font-size: 64px;
        line-height: 1.21;
        color: white;
        margin-bottom: 26px;
    }
    .hero-content p {
        font-size: 24px;
        line-height: 1.21;
        color: white;
        margin-bottom: 106px;
    }
    .hero-content a {
        font-size: 18px;
        line-height: 1.21;
        color: white;
        text-decoration: underline;

    }
    /* end section hero */
    /* start section paragrafs */
    .about-container {
        padding: 93px 167px 115px 167px;
    }
    .about-container h2 {
        font-size: 24px;
        line-height: 1.21;
        margin-bottom: 76px;
        font-weight: bold;
    }
    .about-container p {
        font-size: 18px;
        line-height: 1.67;
    }


    /* end section paragrafs */
    /* start section skills */
    .skills {
        background-color: #FFFAF2;
    }
    .skills-container {
        padding: 93px 165px 145px 165px;
    }
    .skills-container h2 {
        margin-bottom: 86px;
        font-size: 24px;
        line-height: 1.21;
        font-weight: bold;

    }
    .skills-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .skills-content img {
        width: 350px;
        margin-right: 125px;
    }
    .skills-list {
        flex-grow: 1;
    }
    .skills-list-row {
        display: flex;
        justify-content: space-between;
        
    }
    .skills-list li {
        margin-bottom: 20px;
    }
    .skills-list li:first-of-type {
        margin-bottom: 65px;
    }
    .skills-list:last-of-type {
        margin-bottom: 0px;
    }
    .skills-list-title {
        font-size: 18px;
        font-weight: 600;
        line-height: 1.21;
        width: 190px;
        padding-right: 10px;
    }
    .skills-list-value {
        flex-grow: 1;
        font-size: 18px;
        line-height: 1.21;
        color: #333333;
    }
    .skills-list-row:first-of-type {
        margin-bottom: 20px;
    }
    .progress-bar {
        display: block;
        height: 24px;
        position: relative;
        background-color: #F5D6AB;
        overflow: hidden;
    }
    .progress-step {
        position: absolute;
        background-color: #C66C49;
        top: 0;
        bottom: 0;
        left: 0;
        width: 85%;
    }

    /* end section skills */

    /* start section portfolio */
    .portfolio {
        padding-top: 94px;
        padding-bottom: 145px;
        padding-left: 166px;
        padding-right: 165px;
    }
    .portfolio h2 {
        margin-bottom: 86px;
        font-size: 24px;
        line-height: 1.21;
        font-weight: bold;
        
    }
    .portfolio-slide {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .portfolio-slide h3 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 48px;
        color: #333333;
        line-height: 1.21;
    }
    
    .portfolio-content {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 125px;
    }

    .portfolio-content p {
        font-size: 18px;
        line-height: 1.67;
        color: #333333;
        flex-grow: 1;
        margin-bottom: 16px;
    }
     .arrow-right {
         margin-left: 14px;
     }
     .portfolio-images {
         display: flex;
         padding-top: 68px;
         
     }
     .portfolio-images-col img:first-of-type {
         margin-bottom: 30px;
     }
     .portfolio-images-col:first-of-type {
         width: 350px;
         margin-right: 30px;
     }
     .portfolio-images-col:last-of-type {
         width: 255px;
     }
     .portfolio-images-col img {
         width: 100%;
     }


    /* end section portfolio */
    /* start footer */
    .footer-container {
        background-color: #FFFAF2;;
        padding: 93px 347px 189px 165px;
    }
    .footer-container h2 {
        font-size: 24px;
        line-height: 1.21;
        font-weight: 700;
        margin-bottom: 51px;
    }


    /* end footer */
        /* to top */
    .to-top {
        position: fixed;
        bottom: 70px;
        right: 180px;
    } 
    .to-top img {
        transform: rotate(90deg);
    }
    .footer-content {
        display: flex;
       justify-content: space-between;
       align-content: center;
        
    }
    .footer-content ul li {
        font-size: 18px;
        line-height: 1.21;
        margin-bottom: 14px;
        
    }
    .footer-content ul li a {
        color: #333333;
    } 
    .footer-content ul li:last-of-type {
        margin-bottom: 0px;
    }
    .credentials a {
        font-size: 18px;
        line-height: 1.21;
        color: #333333;
        margin-right: 0px;
    }
    .credentials a:first-of-type {
        margin-bottom: 14px;
    }


    
    